body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Rectangle-2-Copy {  
  height: 114px;
  margin: 0 0 70px;
  padding: 44px 1082px 0px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.HACKER-NEWS {
  width: 208px;
  height: 28px;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

.RectangleContent {
  display: flex;
  justify-content: center;
}

.Rectangle {
  width: 98px;
  height: 31px;
  padding: 3px 39px 0 40px;
  border-radius: 2px;  
  border: solid 1px #d6d6d6;
  cursor: pointer;
}

.All {
  width: 19px;
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: var(--azure);
}

.My-faves {
  width: 65px;
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}

.Rectangle-26-Copy-23 {
  width: 240px;
  height: 32px;
  margin: 63px 114px 1px 40px;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.Option {
  width: 49px;
  height: 22px;
  margin: 0 0 65px 13px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #343434;
}

img.Image-138 {
  margin: 1px 13px -7px 0;
  object-fit: contain;
}

.dropbtn {
  background-color: #fff;
  color: black;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 264px;
  box-shadow: 0px 8px 16px 
      0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0px;
  top: 43px;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Rectangle-Row {
  width: 14px;
  height: 14px;
  margin: 4px 0 4px 19px;
  padding: 4px 2px 3px;
}

.Reactangle-Card-Content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.Reactangle-Card-Content > div {
  width: 43%;
  min-width: 36rem;
}

.Rectangle-Card {  
  height: 90px;
  margin: 38px 10px 0px 40px;
  padding: 0 0 0 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  display: flex;
  justify-content: space-between; 
  cursor: pointer;
}

.Rectangle-Card:hover {
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  */
  opacity: 0.4;       
} 

img.iconmonstr-time-2 {
  width: 16px;
  height: 16px;
  margin: 0 8px 6px 0;
  object-fit: contain;
}

.-hours-ago-by-autho {
  align-items: center;
  display: inline-flex;
  margin: 16px 325px 7px 0px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}

.Yes-React-is-taking {
  width: 440px;
  height: 40px;
  margin: 6px 16px 14px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

.Rectangle-Right {  
    width: auto;
    margin: 0 0 0 16px;
    padding: 35px 22px 33px;
    border-radius: 6px;
    border: solid 1px #eeeeee;
    background-color: #eeeeee;  
    text-align: center;    
}

.Path {
  width: 24px;
  height: 22px;
  background-color: #dd0031;
}

img.iconmonstr-favorite-3 {
  width: 24px;
  height: 22px;
  object-fit: contain;
}

.footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  background-color: white;
}

